.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none; /* Inicialmente oculto */
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.8); /* Fundo semi-transparente */
}

.overlay .spinner-border {
    width: 3rem;
    height: 3rem;
}